.counter {
    font-size: 40px;
    font-family: "Fira Code";
    border: none;
    color: rgb(220, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}